<!doctype html>
<html lang="en">
  <head>
    <title>Server Error</title>
		<link rel="stylesheet" href="/style.css">
  </head>

  <body>
		<div class="min-h-screen bg-neutral-700 flex justify-center text-sky-300">
			<div class="grid grid-cols-1 grid-rows-3 h-64 gap-12 bg-neutral-800 p-12 translate-y-1/3">
				Ein interner Fehler ist aufgetreten. Versuche die Seite neu zu laden, oder wende dich mit dem folgenden Fehlercode an die Administratoren, wenn das Problem bestehen bleibt.
				Der Fehlercode war: {{ error_uuid }}.
			</div>
		</div>
  </body>
</html>

