<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
	<title>Raumbuchung</title>
	<link rel="stylesheet" href="./style.css">
</head>

<body hx-ext="response-targets" class="min-h-screen bg-neutral-700 text-sky-500 font-mono">
	<main class="static">
	<div class="sticky top-0">
		<div id="relative" class="bg-neutral-700 text-sky-300 flex justify-center">
			<table class="table-auto w-5/6 text-left">
				<thead>

				<tr id="event-header" class="border-2 border-zinc-400 p-2 text-4xl font-semibold font-mono text-neutral-200">
					<th class="pt-4 pb-4">Uhrzeit</th>
					<th>Veranstaltung</th>
					<th>Raum - Etage</th>
				</tr>
				</thead>
				<tbody>
				{% for event in events %}
				{% if event.is_active() %}
        			<tr class="border-2 border-zinc-400 text-cyan-400 font-mono text-3xl">
				{% else %}
        			<tr class="border-2 border-zinc-400 text-neutral-200 font-mono text-3xl">
				{% endif %}
					<td class="pt-4 pb-4 p-2">{{ event.hr_start_time()|safe}}</td>
					<td class="p-2">{{ event.name }}</td>
					<td class="p-2">{{ event.room.name }} -<br/>{{ event.room.location_hint }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</main>
</body>
</html>
